<div class="box box-height white-background bottom-margin center main-box">
  <div class="about-box">
<!--
    <div class="progress">
      <div id="progress-html" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="100">
        HTML5/SLIM/HAML
      </div>
    </div>
    <div class="progress">
      <div id="progress-css" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="100">
        CSS/SASS/SCSS
      </div>
    </div>
    <div class="progress">
      <div id="progress-responsive" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="93">
        Responsive Design
      </div>
    </div>
    <div class="progress">
      <div id="progress-bootstrap" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="92">
        Twitter Bootstrap
      </div>
    </div>
    <div class="progress">
      <div id="progress-ember" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="16">
        EmberJS
      </div>
    </div>
    <div class="progress">
      <div id="progress-angular" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="44">
        AngularJS
      </div>
    </div>
    <div class="progress">
      <div id="progress-rails" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="100">
        Ruby on Rails
      </div>
    </div>
    <div class="progress">
      <div id="progress-ruby" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="100">
        Ruby
      </div>
    </div>
    <div class="progress">
      <div id="progress-swift" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="28">
        Swift/iOS Development
      </div>
    </div>
    <div class="progress">
      <div id="progress-golang" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="14">
        Golang
      </div>
    </div>
    <div class="progress">
      <div id="progress-sql" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-progresswidth="100">
        PostgreSQL/SQL
      </div>
    </div> -->
    <p>
      Hello! My name is Peter Jabbour, and I'm a Chicago-based technology consultant.
      After spending time at some of Chicago's best digital agencies, incubators, accelerators, and startups,
      I am now working on projects for select clients.
    </p>
    <p style="margin-top:20px;">
      I have a diverse set of skills, ranging from intuitive UX and responsive web design,
      <%= link_to "HTML", "http://www.w3schools.com/html/html5_intro.asp", target: "_blank" %>/<%= link_to "CSS", "http://www.w3schools.com/css/css3_intro.asp", target: "_blank" %>/<%= link_to "SASS", "http://sass-lang.com/", target: "_blank" %>,
      <%= link_to "Javascript", "https://developer.mozilla.org/en-US/docs/Web/JavaScript", target: "_blank" %>,
      JS Frameworks (such as
      <%= link_to "AngularJS", "https://angularjs.org/", target: "_blank" %>),
      <%= link_to "PostgreSQL", "http://www.postgresql.org/", target: "_blank" %>,
      <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %>,
      <%= link_to "Ruby", "https://www.ruby-lang.org/en/", target: "_blank" %>, and
      <%= link_to "Golang", "https://golang.org/", target: "_blank" %>.
    </p>
    <p style="margin-top:20px;">
      As an entrepreneur first, I build technology that fits within the scope of your needs as it aligns to your specific business and growth models.
      Together we can create a product that accomplishes your technical needs while addressing your core business problems.
    </p>
    <p style="margin-top:40px;">
      <small>"If you want to go fast, go alone. If you want to go far, go together."</small>
    </p>
    <p>
      <small>-- African Proverb --</small>
    </p>
  </div>
</div>
