<ul class="timeline">
	<li>
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Full-time Technology Consultant</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("April 2015").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Creator: Tripsharing</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jan 2015").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Tripsharing
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Director of R&amp;D</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Feb 2014").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Learnmetrics
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge success">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Impact Engine Demo Day</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jan 2014").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge success">
			<i class="fa fa-university"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Impact Engine (2nd cohort)</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Aug 2013").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Civic ArtWorks
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Technical Co-founder: Civic ArtWorks</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jun 2013").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Consulting Group</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jan 2013").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Polymathic Media
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Co-Founder</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jun 2012").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					WayToSettle
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge success">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Code Academy Demo Day</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("May 2012").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					First event held at the (newly opened) 1871 incubator.
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge success">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">2nd place: Chicago Booth Launch</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("April 2012").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Startup weekend. FlyWhim
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge success">
			<i class="fa fa-university"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Enrolled Code Academy</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Dec 2011").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge warning">
			<i class="fa fa-car"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Moved to Chicago</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Sept 2011").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Sales Manager</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jan 2011").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					BlueSEQ
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge info">
			<i class="fa fa-flask"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Research Technician: DNA Sequencing Team</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("May 2010").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					<%= link_to "Stowers Institute for Medical Research", "http://www.stowers.org/", target: "_blank" %>
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge success">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">BS in Molecular Biology</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("May 2010").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					University of Kansas - Edwards Campus,
					Overland Park, KS
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge info">
			<i class="fa fa-flask"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Undergraduate Researcher</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("July 2009").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					<%= link_to "Stowers Institute for Medical Research", "http://www.stowers.org/", target: "_blank" %>
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge success">
			<i class="fa fa-university"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Enrolled in a Biochemistry program</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Jan 2009").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Career change!
					Left behind the (short-lived) corporate business world and politics of a big insurance company to pursue a career in science.
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge success">
			<i class="fa fa-university"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Enrolled in a MBA program (Healthcare Leadership focus)</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Aug 2006").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					Rockhurst University,
					Kansas City, MO
				</p>
			</div>
		</div>
	</li>
	<li class="timeline-inverted">
		<div class="timeline-badge info">
			<i class="fa fa-briefcase"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">Membership Services Rep, Large Accounts</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("Sept 2005").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					BlueCross BlueShield of Kansas City
				</p>
			</div>
		</div>
	</li>
	<li>
		<div class="timeline-badge success">
			<i class="fa fa-graduation-cap"></i>
		</div>
		<div class="timeline-panel">
			<div class="timeline-heading">
				<h4 class="timeline-title">BS in Business Administration (Finance, Marketing, and Law focuses)</h4>
				<p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(("May 2005").to_datetime) %> ago.</small></p>
			</div>
			<div class="timeline-body">
				<p>
					University of Kansas, 
					Lawrence, KS
				</p>
			</div>
		</div>
	</li>

</ul>
