<div id="banner" class="parallax-window" data-parallax="scroll" data-position="0px 0px" data-image-src="http://s3.amazonaws.com/petejabbour-website/chicago.jpg">
	<div class="center hidden-md hidden-lg">
		<div style="height: 0px;">
			<div style="position: relative; top: 20px; font-size: 200%;">
				<%= render "shared/social_media" %>
			</div>
		</div>
	</div>
	<div class="container" style="padding-top: 40px;">
		<div style="margin-bottom:80px;">
			<div class="row">
				<div class="col-md-3 col-sm-12 center">
					<%= scroll_reveal animation: "enter left and move 50px over 2s, after 0.3s" do %>
						<%= link_to root_path, 'data-no-turbolink' => true do %>
							<%= image_tag "//s3.amazonaws.com/petejabbour-website/headshot", class: "img-circle", alt: "Peter Jabbour", size: "200x200", title: "Pete Jabbour" %>
						<% end %>
					<% end %>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="transparent_background">
						<div class="transparent_background_child">
							<%= render "shared/scroll/about" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="portfolio" class="blue-light-background grey-light" style="padding: 80px 20px;">
	<%= scroll_reveal animation: "enter left and move 50px over 2s, after 1.3s" do %>
		<div class="center" style="font-size: 20px; line-height: 36px;">
			An incomplete
			<div class="custom-link portfolio-link">portfolio</div>
			of recent client work...
		</div>
	<% end %>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height: 700px;">
    <div class="item active">
      <%= render "shared/carousel/carousel", product: "municipal" %>
    </div>
    <div class="item">
			<%= render "shared/carousel/carousel", product: "hellobar" %>
    </div>
		<div class="item">
			<%= render "shared/carousel/carousel", product: "stockalerts" %>
		</div>
		<div class="item">
			<%= render "shared/carousel/carousel", product: "huntclub" %>
		</div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="padding-top:330px;">
    <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="padding-top:330px;">
    <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="parallax-window location-window" data-parallax="scroll" data-position="0px 0px" data-image-src="https://s3.amazonaws.com/petejabbour-website/Illinois_Centennial_Memorial_Column.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center white" id="location-find-me">
					<%= scroll_reveal animation: "enter top and move 100px over 2s" do %>
						<div style="font-size: 20px; line-height: 36px;">
							You can often find me at one of these Chicago
							<div class="custom-link location-link">
								locations
								<i class="fa fa-map-marker"></i>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<%= render "shared/map", height: "400px" %>
</div>

<div class="row footer">
	<div class="col-md-12">
		<div class="white center blue-light-background">
			<div class="content-container">
				<div class="contact-request-row">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
							<i class="fa fa-long-arrow-left fa-2x pull-left"></i>
							<%= render "shared/contact_request_form" %>
						</div>
					</div>
				</div>
				<div class="african-proverb-row">
					<div class="row">
						<div class="col-md-12">
							<div id="proverb">
								<%= scroll_reveal animation: "enter bottom and move 100px over 3s" do %>
									<div class="proverb">
										<p>
											"If you want to go fast, go alone. If you want to go far, go together."
										</p>
										<p>
											-- African Proverb --
										</p>
									</div>
									<div class="custom-link contact-request-link" style="margin-top: 40px;">Get In Touch</div>
									<div class="custom-link message-sent-link">
										<i class="fa fa-check"></i>
										Message Delivered
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
					<div class="center">
						<div class="send-to-top">
							<i class="fa fa-chevron-up fa-3x"></i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="copyright">
						<small style="font-size: 75%;">
							© Peter Jabbour LLC <%= Time.zone.now.year %>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
