<div id="banner" class="parallax-window" data-parallax="scroll" data-position="0px 0px" data-image-src="http://s3.amazonaws.com/petejabbour-website/chicago.jpg">
	<div class="container" style="padding-top: 40px;">
		<div style="margin-bottom:80px;">
			<%= render "shared/profile", page: "about", direction: "bottom" %>
		</div>
	</div>
</div>

<div id="portfolio" class="blue-light-background grey-light" style="padding: 80px;">
	<%= scroll_reveal animation: "enter left and move 50px over 2s, after 1.3s" do %>
		<div class="center" style="font-size: 18px;">
			Here is an incomplete
			<div class="custom-link portfolio-link">portfolio</div>
			of recent projects...
		</div>
	<% end %>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height: 700px;">
    <div class="item active">
      <%= render "shared/carousel/carousel", product: "municipal" %>
    </div>
    <div class="item">
			<%= render "shared/carousel/carousel", product: "hellobar" %>
    </div>
		<div class="item">
			<%= render "shared/carousel/carousel", product: "stockalerts" %>
		</div>
		<div class="item">
			<%= render "shared/carousel/carousel", product: "huntclub" %>
		</div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="padding-top:330px;">
    <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="padding-top:330px;">
    <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div style="height: 900px;" class="parallax-window" data-parallax="scroll" data-position="0px 0px" data-image-src="https://s3.amazonaws.com/petejabbour-website/Illinois_Centennial_Memorial_Column.jpg">
	<div class="container" style="padding-top: 111px; padding-bottom:111px;">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="center white">
					<%= scroll_reveal animation: "enter top and move 100px over 2s" do %>
						<h1>
							You can find me at one of these Chicago locations...
						</h1>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<%= render "shared/map", height: "300px" %>
</div>

<div class="row footer">
	<div class="col-md-12">
		<div class="box center blue-light-background" style="height: 900px;">
			<div class="row" style="padding-top: 380px; height: 800px;">
				<div class="col-md-12">
					<%= scroll_reveal animation: "enter bottom and move 100px over 3s" do %>
						<p>
							"If you want to go fast, go alone. If you want to go far, go together."
						</p>
						<p>
							-- African Proverb --
						</p>
						<!-- <div class="custom-link" style="margin-top: 40px;">Get In Touch</div> -->
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="center">
						<div class="send-to-top">
							<i class="fa fa-chevron-up fa-3x"></i>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pull-right">
						<div style="margin-top: 43px; margin-right: 40px;">
							<small style="font-size: 75%;">
								© Peter Jabbour LLC <%= Time.zone.now.year %>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
