<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile", page: "about", direction: "right" %>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-height white-background bottom-margin center main-box">
					<div class="about-box">
						<p>
							Hello! My name is Pete Jabbour, and I'm a senior Chicago-based technology consultant.
							After spending time at some of Chicago's best digital agencies, incubators, accelerators, and startups,
							I am now working on projects locally for select clients as well as some projects of my own.
						</p>
						<p style="margin-top:20px;">
							I have a diverse set of skills, ranging from intuitive UX and responsive web design,
							<%= link_to "HTML", "http://www.w3schools.com/html/html5_intro.asp", target: "_blank" %>/<%= link_to "CSS", "http://www.w3schools.com/css/css3_intro.asp", target: "_blank" %>/<%= link_to "Javascript", "https://developer.mozilla.org/en-US/docs/Web/JavaScript", target: "_blank" %>,
							JS Frameworks (such as
							<%= link_to "AngularJS", "https://angularjs.org/", target: "_blank" %>),
							<%= link_to "PostgreSQL", "http://www.postgresql.org/", target: "_blank" %>,
							all the way down to
							<%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %>,
							<%= link_to "Ruby", "https://www.ruby-lang.org/en/", target: "_blank" %>,
							<%= link_to "Golang", "https://golang.org/", target: "_blank" %>.
						</p>
						<p style="margin-top:20px;">
							As an entrepreneur first, I build technology that fits within the scope of your needs as it aligns to your specific business and growth models.
							Together we can create a product that accomplishes your technical needs while addressing your core business problems.
						</p>
						<p style="margin-top:20px;">
							You have a clear understanding of how your product should be used, perceived, and marketed so it is important to work with technologists who first take the time to understand your core business and then build a product that compliments it.
						</p>
						<p style="margin-top:40px;">
							<small>"If you want to go fast, go alone. If you want to go far, go together."</small>
						</p>
						<p>
							<small>-- African Proverb --</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "shared/social_media" %>