<% content_for :title do %>
	<%= "Peter Jabbour | Contact" %>
<% end %>
<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile", page: "contact", direction: "top" %>
		<div class="main-box">
			<%= render "shared/map_contact" %>
		</div>
	</div>
</div>
<%= render "shared/social_media" %>
