<% content_for :title do %>
	<%= "Pete Jabbour | Contact" %>
<% end %>
<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile", page: "contact" %>
		<%= render "shared/map_contact" %>
	</div>
</div>
<%= render "shared/social_media" %>