<% content_for :title do %>
	<%= "Pete Jabbour | Portfolio" %>
<% end %>
<div id="banner">
	<div class="container">
		<%= render "shared/tabs" %>
		<%= render "shared/profile", page: "portfolio", direction: "bottom" %>
		<%= render "shared/carousel" %>
	</div>
</div>
<%= render "shared/social_media" %>