<div class="row">
	<div class="col-md-4 screenshot-background">
		<div class="portfolio-logo">
      <%= render "shared/carousel/logo_links/#{product}" %>
		</div>
    <%= render "shared/carousel/screenshot_imgs/#{product}" %>
	</div>
	<div class="col-md-8 portfolio-background">
		<div class="portfolio-content">
			<div class="tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#tech-<%= product %>" aria-controls="tech-<%= product %>" role="tab" data-toggle="tab">Technologies</a>
					</li>
					<li role="presentation">
						<a href="#project-<%= product %>" aria-controls="project-<%= product %>" role="tab" data-toggle="tab">Product Overview</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tech-<%= product %>">
            <%= render "shared/carousel/technology_content_ul/#{product}" %>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="project-<%= product %>">
            <%= render "shared/carousel/product_overview/#{product}" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
