<ul class="list-unstyled">
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %>,
    <%= link_to "CoffeeScript", "http://coffeescript.org/", target: "_blank" %>,
    <%= link_to "EmberJS", "http://emberjs.com/", target: "_blank" %>
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "HTML5", "http://www.w3schools.com/html/html5_intro.asp", target: "_blank" %>,
    <%= link_to "CSS", "http://www.w3schools.com/css/css3_intro.asp", target: "_blank" %>/<%= link_to "SASS", "http://sass-lang.com/", target: "_blank" %>,
    <%= link_to "Bourbon", "http://bourbon.io/", target: "_blank" %>,
    <%= link_to "jQuery", "https://jquery.com/", target: "_blank" %>
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "Rspec", "http://rspec.info/", target: "_blank" %>,
    <%= link_to "Jasmine", "http://jasmine.github.io/2.0/introduction.html", target: "_blank" %>
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-database fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "MySQL", "https://www.mysql.com/", target: "_blank" %>
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "Google OAuth", "https://developers.google.com/identity/protocols/OAuth2", target: "_blank" %>,
    Email Provider Integrations
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
    </span>
    <%= link_to "AWS", "https://aws.amazon.com/", target: "_blank" %>,
    <%= link_to "Capistrano", "http://capistranorb.com/", target: "_blank" %>,
    <%= link_to "Github", "https://github.com/", target: "_blank" %>
  </li>
  <li>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
    </span>
    6 months (Contribution: 33%)
  </li>
</ul>
