<div class="row">
	<div class="col-md-1">
		<div class="box chevron" id="chevron-l-car0">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car1" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car2" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car3" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car4" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car5" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-l-car6" style="display:none;">
			<i class="fa fa-chevron-left fa-2x"></i>
		</div>
	</div>
	<div class="col-md-10" style="padding-left:0px;padding-right:0px;">
		<div class="box box-height white-background">
			
			<div class="portfolio-item" id="car1">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-caw.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:20px;">
									<%= link_to "http://www.civicartworks.com", target: "_blank" do %>
										<%= image_tag "//s3.amazonaws.com/caw-prod/logos/civic_art_works_logo.png", alt: "Civic ArtWorks", title: "Civic ArtWorks" %>
									<% end %>
								</div>
							</div>
							<p>Lead Developer and Designer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car2" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-hc.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:0px;">
									<%= link_to "http://www.huntclub.co/", target: "_blank" do %>
										<%= image_tag "//s3.amazonaws.com/petejabbour-website/huntclub_logo.png", alt: "Hunt Club", title: "Hunt Club" %>
									<% end %>
								</div>
							</div>
							<p>Role: Web Developer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car3" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-ts.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<%= link_to "http://www.trip-sharing.com/", target: "_blank" do %>
									<%= image_tag "//s3.amazonaws.com/petejabbour-website/trip-sharing-logo-white.png", alt: "Tripsharing", title: "Tripsharing" %>
								<% end %>
							</div>
							<p>Role: Web Developer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car4" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-ask.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:10px;">
									<%= link_to "http://www.askandoffer.co/", target: "_blank" do %>
										<%= image_tag "//s3.amazonaws.com/petejabbour-website/askandoffer_logo.png", alt: "Ask&Offer", title: "Ask&Offer" %>
									<% end %>
								</div>
							</div>
							<p>Role: Lead Developer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car5" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-eve.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:20px;">
									<%= image_tag "//s3.amazonaws.com/petejabbour-website/everybranch_logo.png", alt: "EveryBranch", title: "EveryBranch" %>
								</div>
							</div>
							<p>Role: Lead Developer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car6" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-bit.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:20px;">
									<%= image_tag "//s3.amazonaws.com/petejabbour-website/bitbio_logo.png", alt: "BitBio", title: "BitBio" %>
								</div>
							</div>
							<p>Role: Lead Developer</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="portfolio-item" id="car7" style="display:none;">
				<div class="row">
					<div class="col-md-6">
						<%= image_tag "//s3.amazonaws.com/petejabbour-website/screenshot-wts.png", class: "img-responsive" %>
					</div>
					<div class="col-md-6">
						<div class="portfolio-content">
							<div class="portfolio-logo">
								<div style="position:relative; top:20px;">
									<%= image_tag "//s3.amazonaws.com/petejabbour-website/waytosettle_logo.png", alt: "WayToSettle", title: "WayToSettle" %>
								</div>
							</div>
							<p>Role: Lead Developer</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-1">
		<div class="box chevron" id="chevron-r-car2">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car3" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car4" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car5" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car6" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car7" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
		<div class="box chevron" id="chevron-r-car8" style="display:none;">
			<i class="fa fa-chevron-right fa-2x"></i>
		</div>
	</div>
</div>
<div class="row bottom-margin" style="margin-top:20px;">
	<div class="col-md-12">
		<div class="center grey">
			<div class="square square-on" id="sq-car1"></div>
			<div class="square" id="sq-car2"></div>
			<div class="square" id="sq-car3"></div>
			<div class="square" id="sq-car4"></div>
			<div class="square" id="sq-car5"></div>
			<div class="square" id="sq-car6"></div>
			<div class="square" id="sq-car7"></div>
		</div>
	</div>
</div>