<% route = request.path.split("/")[1] %>
<div class="row" style="margin-top:20px;margin-bottom:20px;position:relative; z-index: 400;">
	<div class="col-md-12">
		<div class="pull-right">
			<ul class="list-unstyled list-inline" style="padding-left:5px;">
				<li class="li-about <%= route == nil ? "active" : "" %>" style="margin-right:9px;">
					<%= link_to "About", root_path %>
				</li>
				<li class="li-portfolio <%= route == "portfolio" ? "active" : "" %>" style="margin-right:9px;margin-left:9px;">
					<%= link_to "Portfolio", portfolio_path %>
				</li>
				<!-- 
				<li class="li-services <%= route == "services" ? "active" : "" %>" style="margin-right:9px;margin-left:9px;">
					<%= link_to "Services", services_path %>
				</li>
				 -->
				<li class="li-contact <%= route == "contact" ? "active" : "" %>" style="margin-right:0px;margin-left:9px;">
					<%= link_to "Contact", contact_path %>
				</li>
			</ul>
		</div>
	</div>
</div>