<!DOCTYPE html>
<html>
<head>
	<%= add_title_tags %>
	<%= add_meta_tags %>
	<%= add_link_tags %>
	<%= render 'layouts/shim' %>
	<%= render 'layouts/google_analytics' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<%= yield %>
	<%= render 'shared/modals/contact_request' %>
</body>
</html>
